<!DOCTYPE html>
{% load static %}
<head>
    <title>html</title>
    <link rel="stylesheet" href='{% static "style.css"%}'>
</head>
<body>
        <!-- <h1>logo</h1>
    <div class='a'>
      <ul>

        <li><a href=''>home</a></li>
        <li><a href=''>services</a></li>
        <li><a href=''>about</a></li>
        <li><a href=''>Registration</a></li>
      </ul>
    </div> -->
    <!-- <div class="b">
        <form action="">
            <label>Username</label>
            <input type="text" name="username"><br>
            <label>Password</label>
            <input type="password" name="password"><br><br>
            <input type="submit">
        </form>
    </div> -->
    <div class="c">
      <h4>PRANAV JADHAV</h4>
      <h5>Python Developer</h5>
      <p id="u">Github:-https://github.com/123pranav456</p>
      <table id="m">
      <tr>
      <td>Dedicated individual seeking for Python developer job position in an organization to utilize
        the ability of prioritizing work options in an effective manner for the greater benefit of the
        company
      </td>
      </tr>
      </table>
    </div>
    <div class="d">
      <h2>Education</h2>
      <table class="l">
        <tr>
          <th>Qualification</th>
          <th>Passing-year</th>
          <th>Institution</th>
          <th>Marks(%)</th>
        </tr>
        <tr>
          <td>B.E</td>
          <td>(2022)</td>
          <td>MCT RGIT</td>
          <td>72.20</td>
        </tr>
        <tr>
          <td>12th STD</td>
          <td>(2018)</td>
          <td>Guru-Nanak-Khalsa</td>
          <td>59.08</td>
        </tr>
        <tr>
          <td>10th STD</td>
          <td>(2016 )</td>
          <td>N.M.E.H.S</td>
          <td>81.40</td>
        </tr>
      </table>
    </div>
    <div class="e">
      <header>
        <h3>Projects</h3>
      </header>
      <table>
        <tr>
          <th>Chat Applicaton</th>
          <td>It created a study-room for students to share their data,create their own room for diccussion,chat within
            the group.We get to see number of group that are created,Number of student who are active in a
            particular room.  </td>
        </tr>
        <tr>
          <th>
            Portfolio
          </th>
          <td> It is a system which check
            patient 3 important medical checkup like ECG,Temprature,Heart-raete,energy-level and store it in
            database and also it compare the user medical value to a critical value if they are greater than that then
            it sends a message to doctor(whose mobile number is saved in database)</td>
        </tr>
      </table>
    </div>
    <div class="f">
      <p class="i">Skills<p>
        <table class="o">
          <tr><th>Python</th></tr>
          <tr><th>Django</th></tr>
          <tr><th>Html</th></tr>
          <tr><th>Css</th></tr>
          <tr><th>Sql</th></tr>
          <tr><th>Rest-Api-Framwork</th></tr>
        </table>
      <p class="y">Languages</p>
      <table class="k">
        <tr><th>English</th></tr>
        <tr><th>Hindi</th></tr>
        <tr><th>Marathi</th></tr>
      </table>
    </div>
    <div class="p">
      <p class="r">Contact</p>
      <table class="q">
        <tr>
          <th>Email:-</th>
          <td>pranavitachi9594@gmail.com</td>
        </tr>
        <tr>
          <th>Mobile:-</th>
          <td>9594499079</td>
        </tr>
        <tr>
          <th>Address:-</th>
          <td>772 21, Nagesh patil wadi , Ghatla village ,Chembur , Mumbai 400071</td>
        </tr>
      </table>
    </div>





</body>